@model EtkinlikYönetimProjesi.Dtos.EventListViewModel
@{
    Layout = null; // Sayfa düzeni kullanmayacağız
}
<html>
<head>
    <title>Event List</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>


<body>
    <div class="card-title">
        <button class="btn btn-primary" id="createEventButton">Etkinlik Oluştur</button>
        <button class="btn btn-primary" id="getUser">Kullanıcı bilgileri</button>
    </div>

    <div id="eventCards" class="card-container">
        <h3>asdakjsdhgjasdhljka</h3>
    </div>

</body>
</html>