@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<body>
    <main class="form-signin">
        <form>
            <div class="row">
                <div class="col-md-4 offset-md-4">

                    <h1 class="h3 mb-3 fw-normal">Category Adding Page</h1>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="City">
                        <label for="floatingInput">City</label>
                    </div>
                    <div>
                        <button id="btnGonder" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        var userToken = localStorage.getItem("access_token");
        $("#btnGonder").click(function () {

            var vm = {
                Name: $("#City").val()

            };

            var jss = JSON.stringify(vm);
            $.ajax({
                url: "http://localhost:17590/api/Admin/AddCity",
                data: jss,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                crossDomain: true,
                headers: {
                    'Authorization': 'Bearer ' + userToken
                },
                success: function (data) {
                    console.log(data);
                    localStorage.setItem("access_token", userToken);
                    window.location.href = "/AdminControls/Event";
                },
            });

        });
    });

</script>